body {
    background-color: darkred;
}
#ronaMap{
    border: black, 3px, solid;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

h1, h2 {
    display: block;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.covidHeader {
    font-size:275%
}

.caseInfo {
    font-size: 250%;
}
